<<<<<<< HEAD
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url('../minha_rotina/img/back.png') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
    font-family: 'Red Hat Display', sans-serif;
}

header img {
    width: 300px;
    height: 100px;
    object-fit: cover;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

nav ul a {
    color: rgb(238, 233, 233);
    text-decoration: none;
    font-size: 20px;
}

.container {
    margin-top: 120px; /* Ajuste a margem superior para dar espaço ao menu de navegação fixo */
}

main {
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
}

.caixa {
    background: #00028C;
    padding: 20px;
    width: 80%;
    border-radius: 20px;
    box-shadow: 0 0 0.9125rem #444849;
    max-width: 1200px;
}

.caixa h1 {
    color: #f8f8ff;
    font-size: 55px;
}

.menu {
    background-color: #778899;
    overflow: hidden;
    margin-bottom: 20px;
}

.menu a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu a:hover {
    background-color: #ddd;
    color: #333;
}

.botao-circular {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #007bff;
    color: #fff;
    font-size: 24px;
    border: none;
    outline: none;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-circular::after,
.botao-circular::before {
    content: '';
    position: absolute;
    width: 70%;
    height: 2px;
    background-color: #fff;
}

.botao-circular::after {
    transform: rotate(90deg);
}

.botao-circular::before {
    transform: rotate(-180deg);
}

.row {
    margin: 0 -10px;
}

.row .col {
    padding: 0 10px;
    margin-bottom: 20px;
}

.card, .cardContainer {
    max-width: 20rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 40px; /* Adiciona margem ao redor dos cartões */
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
}

section {
    height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden;
}

.info {
    width: 70%;
    min-width: 500px;
    max-width: 730px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    padding-left: 40px;
    top: -20%;
    height: 140%;
    border-radius: 0px 100% 100% 0px;
}

.info h1 {
    font-size: 70px;
    margin-bottom: 60px;
}

.info h3 {
    color: #00028C;
    font-size: 28px;
}

.info p {
    font-size: 20px;
    margin-bottom: 20px;
    width: 80%;
}

.image-container {
    width: 100%;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-link {
    background-color: #00028C;
    color: white;
    width: 280px;
    height: 60px;
    border-radius: 100px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
=======
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url('../minha_rotina/img/back.png') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
    font-family: 'Red Hat Display', sans-serif;
}

header img {
    width: 300px;
    height: 100px;
    object-fit: cover;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

nav ul a {
    color: rgb(238, 233, 233);
    text-decoration: none;
    font-size: 20px;
}

.container {
    margin-top: 120px; /* Ajuste a margem superior para dar espaço ao menu de navegação fixo */
}

main {
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
}

.caixa {
    background: #00028C;
    padding: 20px;
    width: 80%;
    border-radius: 20px;
    box-shadow: 0 0 0.9125rem #444849;
    max-width: 1200px;
}

.caixa h1 {
    color: #f8f8ff;
    font-size: 55px;
}

.menu {
    background-color: #778899;
    overflow: hidden;
    margin-bottom: 20px;
}

.menu a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu a:hover {
    background-color: #ddd;
    color: #333;
}

.botao-circular {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #007bff;
    color: #fff;
    font-size: 24px;
    border: none;
    outline: none;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-circular::after,
.botao-circular::before {
    content: '';
    position: absolute;
    width: 70%;
    height: 2px;
    background-color: #fff;
}

.botao-circular::after {
    transform: rotate(90deg);
}

.botao-circular::before {
    transform: rotate(-180deg);
}

.row {
    margin: 0 -10px;
}

.row .col {
    padding: 0 10px;
    margin-bottom: 20px;
}

.card, .cardContainer {
    max-width: 20rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 40px; /* Adiciona margem ao redor dos cartões */
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
}

section {
    height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden;
}

.info {
    width: 70%;
    min-width: 500px;
    max-width: 730px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    padding-left: 40px;
    top: -20%;
    height: 140%;
    border-radius: 0px 100% 100% 0px;
}

.info h1 {
    font-size: 70px;
    margin-bottom: 60px;
}

.info h3 {
    color: #00028C;
    font-size: 28px;
}

.info p {
    font-size: 20px;
    margin-bottom: 20px;
    width: 80%;
}

.image-container {
    width: 100%;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-link {
    background-color: #00028C;
    color: white;
    width: 280px;
    height: 60px;
    border-radius: 100px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
>>>>>>> 47dfdc40d7ac0915bd1d9e868b0c3db53560cf4b
