
.caixa {
    background: #778899;
    margin-top: 1px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 0.9125rem #444849;
    max-width: 1200px;
}

body {
    background:#00008B;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.botao-circular {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #007bff;
    color: #fff;
    font-size: 24px;
    border: none;
    outline: none;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-circular::after,
.botao-circular::before {
    content: '';
    position: absolute;
    width: 70%;
    height: 2px;
    background-color: #fff;
}

.botao-circular::after {
    transform: rotate(90deg);
}

.botao-circular::before {
    transform: rotate(-180deg);
}


.div{
    margin-bottom: 20px; /* Adiciona uma margem inferior para separar os cart천es */
}

.div{
    margin: 0 -10px; /* Adiciona uma margem negativa nos lados para compensar as margens dos cart천es */
}

.div{
    padding: 0 10px; /* Adiciona um preenchimento nos lados para compensar as margens negativas */
}

.menu {
    background-color: #778899;
    overflow: hidden;
}

.menu a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu a:hover {
    background-color: #ddd;
    color: #333;
}
/* Estilos para os cart천es */
.card ,.cardContainer {
    max-width: 20rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 40px; /* Adiciona margem ao redor dos cart천es */
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
}
