* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    
}

header {
    background-color: #353D41;
}

.header {
    padding: 0 0dvw 0 0;
}

.navbar-toggler-icon {
    font-size: 2rem;
    padding: 0 0 0 0rem;
    margin: 0 0 0 0dvw;
    color: white;
}

.span {
    padding: 100dvw;
    margin: 0 0 0 0;
}

form {
    margin: 0 0 0 0dvw;
}

.navbar-brand {
    padding: 0 30dvw 0 0
}

.bott {
    padding: 0 0 0 0dvw;
}

section {
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 5dvh 15dvw 20dvw 15dvw;
    border-radius: 1rem;
    background-color: #f7f7f7;
    padding: 0 0;
}

.titulo {
    margin: 0 0 5dvh 0;
    padding: 2dvh 0;
    background-color: #d2fff7;
    border-radius: 1rem;
}

.progs, .progs2, .progs3 {
    justify-content: center;
    padding: 0 0 5dvh 0;
    margin: 0 2dvw 0 2dvw;
}

table {
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 200dvw 0 0dvw;
    width: 100%;
    font-size: 1dvw;
}

.estud {
    justify-content: center;
}

.turma, .turma2, .turma3 { 
    padding: 0 0 3dvw 0;
    justify-content: center;
    color: #2f2c79;
    
}

td, th{
    padding: 0 0 2dvw 0;
    border: 2px solid black;
    color: #2823bc;
    
}



tr {
    margin: 0;
    align-content: center;
}

ul {
    list-style: none;
    
}

.min ul li a {
    text-decoration: none;
    color: #c0c0c0;
    background-color: #2f2c79;
    padding: 1rem;
    border-radius: 1.5rem;
    margin: 0 0 0 0;
}

.min ul li {
    display: flex;
    justify-content: left;
    margin: 0 0 0 2dvw;
}

.min ul li a:hover {
    background-color: #4dc7ff;
    transition: 1.5s;
    color: #2823bc;
}

.users {
    font-size: 20px;
    padding: 0 0 5dvh 0;
}

.title {

    background-color: #2f2c79;
    border-radius: 1rem;
    margin: 0 0 5dvh 0;
    padding: 2dvh 0;

}
@media (1100px <= width <= 1600px) {
    table {
        font-size: 1.3dvw;
    }

    .progs {
        padding: 0 0 6dvh 0;
    }
}

@media (width <= 1210px) {

    table {
        font-size: 15.5px;
    }

}

@media (width >= 1700px) {
    section {
        margin: 5dvh 25dvw 0 25dvw;
    }
}

