<<<<<<< HEAD
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section{
    height: 100dvh;
    display: flex;
    position: relative;
    overflow: hidden;
}

.info{
    width: 70%;
    min-width: 500px;
    max-width: 730px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    font-family: "Montserrat", sans-serif;
    padding: 20px;
    padding-left: 40px;
    top: -20%;
    height: 140%;
    border-radius: 0px 100% 100% 0px;
}
.info h1{
    font-size: 70px;
    margin-bottom: 60px;
}
.info h3{
    color: #00028C;
    font-size: 28px;
}
.info p{
    font-size: 20px;
    margin-bottom: 20px;
    width: 80%;
}

.image-container{
    width: 100%;
}

.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-link{
    background-color: #00028C;
    color: white;
    width: 280px;
    height: 60px;
    border-radius: 100px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

header{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    padding: 30px 100px 30px 1px;
    font-family: "Red Hat Display", sans-serif;
    /background-color: white;/
}

header img{
    width: 300px;
    height: 90px;
    object-fit: cover;
}

header nav ul{
    display: flex;
    list-style: none;
    gap: 40px;
}

nav ul a{
    color: white;
    text-decoration: none;
    font-size: 20px;
=======
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section{
    height: 100dvh;
    display: flex;
    position: relative;
    overflow: hidden;
}

.info{
    width: 70%;
    min-width: 500px;
    max-width: 730px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    font-family: "Montserrat", sans-serif;
    padding: 20px;
    padding-left: 40px;
    top: -20%;
    height: 140%;
    border-radius: 0px 100% 100% 0px;
}
.info h1{
    font-size: 70px;
    margin-bottom: 60px;
}
.info h3{
    color: #00028C;
    font-size: 28px;
}
.info p{
    font-size: 20px;
    margin-bottom: 20px;
    width: 80%;
}

.image-container{
    width: 100%;
}

.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-link{
    background-color: #00028C;
    color: white;
    width: 280px;
    height: 60px;
    border-radius: 100px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

header{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    padding: 30px 100px 30px 1px;
    font-family: "Red Hat Display", sans-serif;
    /background-color: white;/
}

header img{
    width: 300px;
    height: 90px;
    object-fit: cover;
}

header nav ul{
    display: flex;
    list-style: none;
    gap: 40px;
}

nav ul a{
    color: white;
    text-decoration: none;
    font-size: 20px;
>>>>>>> 47dfdc40d7ac0915bd1d9e868b0c3db53560cf4b
}